@import "./../../variables/colors.scss";
.features {
  padding: 87px 148px 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
  .feature__h3 {
  }
  .features__h2 {
    margin-bottom: 72px;
  }
  .features__items {
    display: flex;
    justify-content: space-between;
    .features__item {
      display: flex;
      flex-direction: column;
      align-items: center;

      flex-basis: 226px;
      .features__item-img {
        margin-bottom: 40px;
        fill: $AccentColor1;
      }
      .features__item-title {
        margin-bottom: 12px;
      }
    }
    .features__item-p {
      text-align: center;
    }
  }
}
